.g_hidden {
	visibility: hidden;
	opacity: 0;
	transform: translateY(100px);
}

.chatContainer {
	position: relative;

	&__frame {
		min-height: 600px;
		min-width: 400px;
		border-radius: 16px;
		-webkit-box-shadow: 0px 0px 44px 22px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 0px 0px 44px 22px rgba(34, 60, 80, 0.2);
		box-shadow: 0px 0px 44px 22px rgba(34, 60, 80, 0.2);
	}

	&__popUp {
		position: fixed;
		right: 35px;
		bottom: 90px;
		transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.2s ease;
	}

	&__button {
		position: fixed;
		right: 30px;
		bottom: 20px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 64px;
		height: 64px;
		background-color: var(--color-main, #0073f7);
		border: none;
		border-radius: 50%;
		outline: none;
		cursor: pointer;
		box-shadow: none;
		overflow: visible;
		color: #fff;
	}
}
